[Desktop Entry]
Categories=Qt;KDE;System;TerminalEmulator;
Comment[fr_FR]=Un émulateur de terminal à liste déroulante reposant sur la technologie de l'application Konsole de KDE.
Comment=A drop-down terminal emulator based on KDE Konsole technology.
DBusActivatable=true
Exec=yakuake
GenericName[fr_FR]=Terminal avec liste déroulante
GenericName=Drop-down Terminal
Icon=yakuake
Name[fr_FR]=Yakuake
Name=Yakuake
Terminal=false
Type=Application
X-DBUS-ServiceName=org.kde.yakuake
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
