[Desktop Entry]
Comment=
Exec=signal-desktop & vesktop & zapzap
Icon=network-manager
Name=social
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
